

<form  action="" method="post" class="form_new_user" id="newuserform">

    <table width="100%" class="tbl_new_user" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td width="20%" align="right">  <span class="red">*</span>姓名：</td>
            <td width="80%">
                <p class="p_valid">
                    <input type="text"  name="userInfo.name" id="fullname" class="new_input">
                </p>
                <font class="new_user_tips p_l_10 nu_two">
                    <span class="tips_ico">&nbsp;</span>
                    <span class="tips_text">2～12位中文、字母、数字、下划线</span>
                </font>
            </td>
        </tr>
        <tr>
            <td align="right"><span class="red">*</span>帐号：</td>
            <td>
                <p class="p_valid">
                    <input type="text" id="new_user_account" name="userInfo.account" class="new_input">
                </p>
                <font class="new_user_tips p_l_10 nu_two">
                    <span class="tips_ico">&nbsp;</span>
                    <span class="tips_text">6位数字</span>
                </font>
            </td>
        </tr>
        <tr>
            <td align="right"><span class="red">*</span>密码：</td>
            <td>
                <p class="p_valid">
                    <input type="password" class="new_input" id="newuser_pwd" name="userInfo.password">
                </p>
                <font class="new_user_tips p_l_10 nu_two">
                    <span class="tips_ico">&nbsp;</span>
                    <span class="tips_text">密码</span>
                </font>

            </td>
        </tr>
        <tr>
            <td align="right"><span class="red">*</span>再次输入密码：</td>
            <td>
                <p class="p_valid">
                    <input type="password" class="new_input" id="newuser_rePassword" name="userInfo.rePassword">
                </p>
                <font class="new_user_tips p_l_10 nu_two">
                    <span class="tips_ico">&nbsp;</span>
                    <span class="tips_text">重复密码</span>
                </font>
            </td>
        </tr>
        <tr>
            <td align="right">联系电话：</td>
            <td>
                <p class="p_valid">
                    <input type="text" class="new_input" id="userInfo.phone" name="userInfo.phone">
                </p>
                <font class="new_user_tips p_l_10 nu_two">
                    <span class="tips_ico">&nbsp;</span>
                    <span class="tips_text">联系电话</span>
                </font>
            </td>
        </tr>
        <tr>
            <td align="right"><span class="red">*</span>E-mail：</td>
            <td>
                <p class="p_valid">
                    <input type="text" class="new_input" name="userInfo.email" id="new_user_email">
                </p>
                <font class="new_user_tips p_l_10 nu_two">
                    <span class="tips_ico">&nbsp;</span>
                    <span class="tips_text">邮箱</span>
                </font>
            </td>

        </tr>
        <tr>
            <td align="right">身份证号：</td>
            <td>
                <p class="p_valid">
                    <input type="text" class="new_input" id="userInfo.idCard" name="userInfo.idCard">
                </p>
                <font class="new_user_tips p_l_10 nu_two">
                    <span class="tips_ico">&nbsp;</span>
                    <span class="tips_text"></span>
                </font>
            </td>
        </tr>
        <tr>
            <td align="right">所属营业部：</td>
            <td>
                <div class="dialog_box">

                    <input type="hidden" autocomplete="off" value="1" id="reportDate_2" name="depId">
                    <input type="hidden" autocomplete="off" id="reportName_2">
                    <div id="select_info_year1_2" class="sel_84_dialog new_sel_d">营业部1
                    </div>
                    <ul id="options_year1_2" class="sel_91_option new_sel_option" style="display: none;">

                    #{list items : saleDepartments, as : 'item' }
                        <li data-value="${item.id}">${item.name}</li>
                    #{/list}
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td align="right">资金帐号：</td>
            <td>
                <p class="p_valid">
                    <input type="text" class="new_input" name="userInfo.capitalAccount"/>
                </p>
                <font class="new_user_tips p_l_10 nu_two">
                    <span class="tips_ico">&nbsp;</span>
                    <span class="tips_text"></span>
                </font>
            </td>
        </tr>
        <tr>
            <td align="right">联系地址：</td>
            <td>
                <p class="p_valid">
                    <input type="text" class="new_input" name="userInfo.address" />
                </p>
            </td>
            <font class="new_user_tips p_l_10 nu_two">
                <span class="tips_ico">&nbsp;</span>
                <span class="tips_text"></span>
            </font>
        </tr>
        <tr>
            <td align="right">邮编：</td>
            <td>
                <p class="p_valid">
                    <input type="text" class="new_input" name="userInfo.postCode" />
                </p>
                <font class="new_user_tips p_l_10 nu_two">
                    <span class="tips_ico">&nbsp;</span>
                    <span class="tips_text"></span>
                </font>
            </td>
        </tr>
        <tr>
            <td align="right">&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
    <div class="new_u_control">
        <input type="reset" value="button" class="new_user_cancle">
        <input type="button" onclick="javascript:$('#newuserform').submit()"  value="submit" class="new_user_register">
    </div>
</form>

