#{extends 'main.html' /}
#{set title:'策略列表' /}

#{set 'moreStyles'}
*{这里是策略的css}*
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/global-strategysuper.css'}">
#{/set}

<!--strategy_nav Begin-->
<div class="strategy_nav">
    <div class="stra_options">
        <div class="str_sup_select">
            <div class="dialog_box">
                <form action="@{StrategySubscription.advanceSearch(cnd)}" id="advform" method="get">

                </form>
                <input type="hidden" id="reportDate_2" autocomplete="off" value="1" >
                <input type="hidden" id="reportName_2" autocomplete="off" value="收益率">
                <div class="sel_84_dialog new_sel_d" id="select_info_year1_2" style="color: rgb(0, 0, 0);">
                #{if myselect ==2}人气排行#{/if}
                #{elseif myselect==3}最新上架#{/elseif}
                #{else }收益排行#{/else}
                </div>
            #{if advanceSearch}
                <ul style="display: none;" class="sel_91_option new_sel_option" id="advance">
                    <li data-value="1">收益排行</li>
                    <li data-value="2">人气排行</li>
                    <li data-value="3">最新上架</li>
                </ul>
            #{/if}
            #{else }
                <ul style="display: none;" class="sel_91_option new_sel_option" id="options_year1_2">
                    <li data-value="1">收益排行</li>
                    <li data-value="2">人气排行</li>
                    <li data-value="3">最新上架</li>
                </ul>
            #{/else}
            </div>
            </form>
        </div>
        <div class="str_sup_number">
        #{if content!=null||cnd!=null}
            当前搜索结果:
        #{/if}
        #{else }
            当前订阅总数:
        #{/else}
            <span id="fav_count">${page.rowTotal}</span>
        </div>
    </div>


    <ul class="nav_func">
        <li class="nav_search">
            <form action="@{StrategySubscription.strategyList()}" name="keyform" method="get">
                <input type="text" class="key_strategy" value="${content}" placeholder="策略名称/策略师"  name="content">
                <input type="hidden" name="myselect" value="${myselect}">
                <input type="submit" class="btn_submit">
            </form>
        </li>
        <li class="more_search" id="dialog-link">高级搜索</li>
        <li class="n_contrast">开始对比</li>
    </ul>
</div>
<!--strategy_nav End-->


<!--main_wrap Begin-->
<div class="main_wrap">
    <div class="main">

        <ul class="main_list">


        #{list items : sbdList, as : 'item'}


            <li class="constract_common">
                <table class="tbl_wrap" width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="29%"><img src="/public/smallImages/st_${item.uuid}.png" class="str_img">
                        </td>
                        <td valign="top">
                            <div class="content_wrap">
                                <div class="cont_til">

                                    <a href="@{StrategyDetail.detail(item.id,item.uuid)}"  class="st_c_til" title=" #{emVF item.sname/}"><span>
                                        #{emVF item.sname/}
                                    </span></a>
                                    #{if item.starLevel>4.7}
                                        <span class="all_star_10"> </span>
                                    #{/if}
                                    #{if item.starLevel<=4.7 &&item.starLevel>4.2}
                                        <span class="all_star_9"> </span>
                                    #{/if}
                                    #{if item.starLevel<=4.2 &&item.starLevel>3.7}
                                        <span class="all_star_8"> </span>
                                    #{/if}
                                    #{if item.starLevel<=3.7 &&item.starLevel>3.2}
                                        <span class="all_star_7" > </span>
                                    #{/if}
                                    #{if item.starLevel<=3.2 &&item.starLevel>2.7}
                                        <span class="all_star_6" > </span>
                                    #{/if}
                                    #{if item.starLevel<=2.7 &&item.starLevel>2.2}
                                        <span class="all_star_5"> </span>
                                    #{/if}
                                    #{if item.starLevel<=2.2 &&item.starLevel>1.7}
                                        <span class="all_star_4" > </span>
                                    #{/if}
                                    #{if item.starLevel<=1.7 &&item.starLevel>1.2}
                                        <span class="all_star_3" > </span>
                                    #{/if}
                                    #{if item.starLevel<=1.2 &&item.starLevel>0.7}
                                        <span class="all_star_2"> </span>
                                    #{/if}
                                    #{if item.starLevel<=0.7 &&item.starLevel>0}
                                        <span class="all_star_1"> </span>
                                    #{/if}
                                </div>
                                <table width="100%" class="tbl_content" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td>
                                            <ul class="cont_text">
                                                <li>策略类型:
                                                    #{if item.stype ==1  }
                                                        选股型
                                                    #{/if}
                                                    #{if item.stype ==2  }
                                                        择时型
                                                    #{/if}
                                                    #{if item.stype ==3  }
                                                        交易型
                                                    #{/if}
                                                    #{if item.stype ==4  }
                                                        其他
                                                    #{/if}
                                                </li>
                                                <li>交易品种:
                                                    #{if item.tradeVariety ==1  }
                                                        股票
                                                    #{/if}
                                                    #{if item.tradeVariety ==2  }
                                                        期货
                                                    #{/if}
                                                    #{if item.tradeVariety ==3  }
                                                        混合
                                                    #{/if}
                                                </li>
                                                <li>交易次数：#{emVFC item.tradeCount/}</li>
                                                <li>收益率：#{emVFC v:item.yield * 100, f:'#,#0.00', u:'%',c:true,l:true /}</li>
                                                <li>获胜率：#{emVFC item.profitRatio * 100, f:'#,#0.00', u:'%',l:true /}</li>
                                            </ul>
                                            <ul class="cont_text cont_text_1">
                                                <li>#{emVFC item.provider/} </li>
                                                <li>收藏总数:<span  class="collect_num">#{emVFC item.collectCount/}</span></li>
                                                <li>上架时间:#{emVFC item.upTime, f:'yyyy-MM-dd'/}</li>
                                                <li>月度收益率标准差:#{emVFC item.yomsd/}</li>
                                                <li>
                                                    #{if collectSet.contains(java.lang.Integer.parseInt(item.id))}
                                                        #{hasAuth '5'}<span data-strategyid="${item.id}" class="add_collect add_collect_2">&nbsp;</span>#{/hasAuth}
                                                    #{/if}
                                                    #{else}
                                                        #{hasAuth '5'}<span data-strategyid="${item.id}" class="add_collect">&nbsp;</span>#{/hasAuth}
                                                    #{/else}
                                                    <span class="constract" data-compare-check="${item.uuid}" data-compare="${item.uuid}">
                        <label>
                            <input name="" type="checkbox" value="">
                            加入对比
                        </label>
                    </span>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </table>

                            </div>
                        </td>
                    </tr>
                </table>

            </li>
        #{/list}


        </ul>

    </div>


#{if advanceSearch}
    <!--高级搜索分页 Begin -->
    <div class="page">
        <div class="page_center">
            <form action="@{StrategySubscription.advanceSearch(cnd)}" class="pageFrom" method="get">
                #{paging page:page /}
            </form>
        </div>
    </div>
    <!--高级搜索分页 End-->
#{/if}
</div>
<!--main_wrap End-->

#{if ! advanceSearch}
<!--list分页 Begin -->
<div class="page">
    <div class="page_center">
        <form action="@{StrategySubscription.strategyList(myselect, content)}" class="pageFrom" method="get">
            #{paging page:page /}
        </form>
    </div>
</div>
<!--list分页 End-->
#{/if}


<!--搜索设置 Begin-->
<div class="search_set_wrap" title="搜索设置">

    <div class="search_list">
        <h3 class="h3_title">我的搜索列表</h3>
        <div class="set_control">
            <button id="delCndBtn">
                <img src="@{'/public/images/set_remove.jpg'}">
            </button>
            <button id="addCndBtn">
                <img src="@{'/public/images/set_add.jpg'}">
            </button>
        </div>
        <ul class="search_ul" id="ut_ul_list" style="margin-top: 26px;">
        #{list items:utList, as:'ut'}
            <li id="ut_${ut.id}">${ut.name}</li>
        #{/list}
        </ul>


    </div>
    <div class="search_set">
        <h3 class="h3_title">搜索条件设置</h3>

        <form id="cndForm" name="cndForm" action="@{StrategySubscription.advanceSearch()}">
            <table width="100%" border="0" class="set_tbl" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="17%" align="right">交易类型</td>
                    <td align="left">

                        <!--#{kvselect keyname:'strategyTradeType', name:'cnd.tradeType', style:'width:80px;', id:'tradeType' /}-->
                        <div class="dialog_box">

                            <input type="hidden" id="tradeTypeId" name="cnd.tradeType" autocomplete="off" value="-999">
                            <div class="sel_84_dialog new_sel_d" id="select_tradeType" style="color: rgb(0, 0, 0);">全部</div>
                            <ul style="display: none;" class="sel_91_option new_sel_option" id="options_tradeType">
                                <li class="tradeType_-999" data-value="-999">全部</li>
                                <li class="tradeType_1" data-value="1">选股型</li>
                                <li class="tradeType_2" data-value="2">择时型</li>
                                <li class="tradeType_3" data-value="3">交易型</li>
                                <li class="tradeType_4" data-value="4">其他</li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="right">交易品种</td>
                    <td align="left">

                        <!--#{kvselect keyname:'strategyTradeVariety', name:'cnd.tradeVariety', style:'width:80px;', id:'tradeVariety' /}-->
                        <div class="dialog_box">

                            <input type="hidden" id="tradeVarietyId" name="cnd.tradeVariety" autocomplete="off" value="-999">
                            <div class="sel_84_dialog new_sel_d" id="select_tradeVariety" style="color: rgb(0, 0, 0);">全部</div>
                            <ul style="display: none;" class="sel_91_option new_sel_option" id="cndTradeVariety">
                                <li class="trade_-999" data-value="-999">全部</li>
                                <li class="trade_1" data-value="1">股票</li>
                                <li class="trade_2" data-value="2">期货</li>
                                <li class="trade_3" data-value="3">混合</li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="right">收益率</td>
                    <td align="left">
                        <input type="number" step="0.1" value="" name="cnd.yieldDown"  id="yieldDown"/>
                        &nbsp;<b>%</b>&nbsp;到&nbsp;
                        <input type="number" step="0.1" value="" name="cnd.yieldUp"  id="yieldUp"/>&nbsp;<b>%</b>
                    </td>
                </tr>
                <tr>
                    <td align="right">获胜率</td>
                    <td align="left">
                        <input type="number" step="0.1" value="" name="cnd.profitRatioDown" id="profitRatioDown"/>&nbsp;<b>%</b>
                        &nbsp;到&nbsp;
                        <input type="number" step="0.1" value="" name="cnd.profitRatioUp" id="profitRatioUp"/>&nbsp;<b>%</b>
                    </td>
                </tr>
                <tr>
                    <td align="right">用户评级</td>
                    <td align="left">
                        <!--模仿下拉框 Begin-->
                        <div class="select_wrap" style="position: relative; top:8px;">

                            <div class="dialog_box">
                                <input type="hidden" id="starDown" name="cnd.starDown" autocomplete="off"> *{li的html内容}*
                                <input type="hidden" id="starDown_dn" autocomplete="off"> *{li的data-name对应的值}*

                                <div class="sel_84_dialog" id="select_starDown">
                                    <span class="star_0">0</span>
                                </div>

                                <ul class="sel_91_option sel_six" id="options_starDown">
                                    <li class="star_0" data-name="0">0</li>
                                    <li class="star_1" data-name="1">1</li>
                                    <li class="star_2" data-name="2">2</li>
                                    <li class="star_3" data-name="3">3</li>
                                    <li class="star_4" data-name="4">4</li>
                                    <li class="star_5" data-name="5">5</li>
                                </ul>
                            </div>
                        </div>
                        <!--模仿下拉框 End-->
                        <span class="sel_float" style="position: relative; top:10px; left:1px;">&nbsp;到&nbsp;</span>

                        <!--模仿下拉框 Begin-->
                        <div class="select_wrap" style="position: relative; top:-10px; left:23px;">

                            <div class="dialog_box">
                                <input type="hidden" id="starUp" name="cnd.starUp" autocomplete="off">
                                <input type="hidden" id="starUp_dn" autocomplete="off">

                                <div class="sel_84_dialog" id="select_starUp">
                                    <span class="star_5">5</span>
                                </div>

                                <ul class="sel_91_option sel_six" id="options_starUp">
                                    <li class="star_5" data-name="5">5</li>
                                    <li class="star_4" data-name="4">4</li>
                                    <li class="star_3" data-name="3">3</li>
                                    <li class="star_2" data-name="2">2</li>
                                    <li class="star_1" data-name="1">1</li>
                                    <li class="star_0" data-name="0">0</li>
                                </ul>
                            </div>
                        </div>
                        <!--模仿下拉框 End-->

                    </td>

                </tr>
            </table>
        </form>

    </div>
</div>
<!--搜索设置 End-->


<!--策略对比 Begin-->
<div class="stategy_constact" title="策略对比"></div>
<!--策略对比 End-->

<!--jquery-ui插件 Begin-->
<link href="@{'/public/stylesheets/ui-lightness/jquery-ui-1.9.1.custom.css'}" rel="stylesheet">
<script src="@{'/public/javascripts/jquery-ui-1.9.1.custom.js'}"></script>
<script>
    //浏览器宽度小于1280时,列表的变化
    (function(){
        var clientWidth = $("body")[0].clientWidth;
        var liEle = $(".constract_common");
        var mainWrap = $(".main_wrap");

        if(clientWidth <= 1240){
            mainWrap.css("width", "inherit")
            liEle.css({margin: "0 0 15px 0px", "margin-left": (clientWidth-600)/2})
        }

        window.onresize = function(){
            var dynWidth = $("body")[0].clientWidth;
            if( dynWidth <= 1240){
                mainWrap.css("width", "inherit")
                liEle.css({margin: "0 0 15px 0px", "margin-left": (dynWidth-600)/2})
            }else{
                mainWrap.css("width", "1280");
                liEle.css({margin: "0 0 15px 17px"});
            }
        };

    })();

    //根据浏览器宽度,而调整列表宽
    // (function(){
    //        var strListLeft = $(".main_list");
    //
    //        //浏览器宽度
    //        function documentWidth(){
    //            var documentWidth = document.documentElement.offsetWidth;
    //            return documentWidth;
    //        }
    //
    //
    //        //alert(documentWidth())
    //
    //        if(documentWidth()<1246){
    //            var averageWidth =(documentWidth()-600-70)/2;
    //            strListLeft.children("li").css({"margin":0});
    //            strListLeft.children("li").css({"margin-left": averageWidth,  "margin-bottom":30});
    //
    //            //return false;
    //        }else{
    //            var averageWidth = (documentWidth()-1200+30)/4;
    //            strListLeft.children("li").css({"margin":0});
    //            strListLeft.children("li:even").css({"margin-left": averageWidth, "margin-right":averageWidth, "margin-bottom":30});
    //            changeFunc();
    //        }
    //
    //        //改变宽度
    //        function changeFunc(listWidth, imgWidth){
    //            $(".constract_common").width(listWidth || 600);
    //        }
    //
    //
    //
    //
    //        //监听change事件
    //        window.addEventListener("resize", function(){
    //
    //            if(documentWidth()>1246){
    //                var averageWidth = (documentWidth()-1200+30)/4;
    //                strListLeft.children("li").css({"margin":0});
    //                strListLeft.children("li:even").css({"margin-left": averageWidth, "margin-right":averageWidth, "margin-bottom":30});
    //                changeFunc();
    //            }else if(documentWidth() <= 1246){
    //                var marginLeft = (documentWidth()-600)/2;
    //                strListLeft.children("li").css({"margin":0, "margin-left": marginLeft, "margin-bottom":30});
    //                changeFunc(600);
    //            }
    //        }, false);
    //
    //    })();

    window.moreSearch();
    downBox('select_info_year1_2', '#options_year1_2', 'reportDate_2', 'reportName_2');
    downBox('select_info_year1_2', '#advance', 'reportDate_2', 'reportName_2');

</script>
<!--jquery-ui插件 End-->

<!--jqtransform插件 Begin-->
<link rel="stylesheet" href="@{'/public/jqtransformplugin/jqtransform.css'}" type="text/css" media="all"/>
<script src="@{'/public/jqtransformplugin/jquery.jqtransform.js'}"></script>
<script type="text/javascript">
    $(function(){
        $('.nav_form').jqTransform({imgPath: _gQic.ctx +  "/public/jqtransformplugin/img/"});
    });
</script>
<!--jqtransform插件 End-->
<script>
    var utListSize =${utList!=null?utList.size():0};

    $("#options_year1_2 li").live("click", function(){
        var a = $("#reportDate_2").val();
        window.location.href="/StrategySubscription/strategyList?myselect="+a;
    });

    $("#advance li").live("click", function(){
        var form = $('#advform')[0].action;
        var a = $("#reportDate_2").val();
        url = form+"&myselect="+a;
        window.location.href=url;

    });

    downBox('select_tradeType', '#options_tradeType', 'tradeTypeId', 'reportName_3');
    downBox('select_tradeVariety', '#cndTradeVariety', 'tradeVarietyId', 'reportName_4');
</script>
<!--按回车调用指定方法 -->
<script type="text/javascript">
    function clickOtherButton()
    {
        if(event.keyCode==13)
        {
            event.returnValue=false;
            $(".page_ok").click();
        }
    }
</script>

*{条件管理js}*
<script type="text/javascript">
    var renameCondRoute = #{jsRoute @SearchConditionManage.renameOrNewCond(':id', ":name") /} //改名url
    var saveCondRoute = #{jsRoute @SearchConditionManage.editStrategyCond() /}  //保存url. 修改url
    var delCondRoute = #{jsRoute @SearchConditionManage.delCond(':id') /} //删除url
    var strategyContrastRoute = #{jsRoute @StrategySubscription.strategyContrast() /} //删除url

    var utMap = {}; //用户策略map
    #{list items:utList, as:'ut'}
    utMap['${ut.id}'] = ${ut.content.raw()};
    #{/list}

    var cndType = 1; //条件的类型. 1.策略, 2.股票池 这个变量不能删除, 有用
</script>
<script type="text/javascript" src="@{'/public/javascripts/condManage.js'}"></script>


<style type="text/css">
    .cndSelected{
        background-color: #6ca9e1;
    }
</style>
